<footer class="bg-dark text-light py-4 mt-5">
    <div class="d-flex flex-column align-items-center text-center">
        <div>
            <h5>CamperPool - Smart Ride Sharing for Campus</h5>
            <p>Developed by Subhranil Mandal © 2026</p>
        </div>
        <div>
            <ul class="d-flex list-unstyled gap-4 ">
                <li><a href="https://www.linkedin.com/in/subhranilmandal/" class="text-light fs-5"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/Subhranil123-ops" class="text-light fs-5"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="mailto:mandalsubhranil847@gmail.com" class="text-light fs-5 text-decoration-none">Gmail</a></li>
            </ul>
        </div>
    </div>
</footer>