<%layout("layouts/boilerplate")%>
    <div class="row mt-5">
        <div class="col mx-auto">
            <form action="/createRide" method="post" class="g-3 needs-validation" novalidate>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="from" class="form-label">From Location</label>
                        <input type="text" id="from" class="form-control" placeholder="Enter your starting location"
                            name="ride[from]" required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="to" class="form-label">Destination</label>
                        <input type="text" id="to" class="form-control" placeholder="Enter your destination" name="ride[to]"
                            required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" id="date" class="form-control" name="ride[date]" required>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="time" class="form-label">Time</label>
                        <input type="time" id="time" class="form-control" name="ride[time]" required>
                    </div>
                    <div class="mb-3 col-4">
                        <label for="vehicle" class="form-label">Vehicle Type</label>
                        <input type="text" id="vehicle" class="form-control" placeholder="Enter type of vehicle"
                            name="ride[vehicle]" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="total" class="form-label">Total Seats</label>
                        <input type="text" id="total" class="form-control" name="ride[total]" required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="available" class="form-label">Available Seats</label>
                        <input type="text" id="available" class="form-control" placeholder="Enter type of vehicle"
                            name="ride[available]" required>
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>